<!DOCTYPE html>
<html>
  <head>
    <title>Sammy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="navbar-fixed">
 <nav class="deep-purple darken-1">
      <div class="nav-wrapper">
      <a href="#" class="brand-logo">Galenus Single Sign On</a>

    </div>
 </nav>
</header>

     <%= yield %>
     
  </body>
</html>
